{% extends "dashboard/base.html" %}
{% load i18n %}
{% load static %}
{% load status %}
{% load taxed_prices %}
{% load utils %}
{% load materializecss %}

{% block title %}
  {% trans "Slideshow" context "Dashboard Slideshow" %} - {{ block.super }}
{% endblock %}

{% block body_class %}Slideshow{% endblock %}

{% block header_extra %}
  <div class="btn-fab-fixed">
    <a href="{% url 'dashboard:slideshow-add' %}" class="btn-fab-default waves-effect waves-light" title="{% trans "Add Slideshow =" context "Slideshow list add button text" %}">
      <svg data-src="{% static "dashboard/images/add.svg" %}" />
    </a>
  </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row row-cols-2">
            {% for slide in slides %}
                <a href="{% url 'dashboard:slideshow-update' pk=slide.pk %}">
                    <div class="col" style="padding: 1vw; background-color: #2e9495; margin: 1vh">
                        <img style="width: 30vw;" src="{{slide.image.url}}">
                        <h5 style="color: white;">{{slide.content}}</h5>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}